/* NEXTFRAME  */

@font-face {
  font-family: "D-DIN-Bold";
  font-style: "normal";
  font-weight: "700";

  src: url("../vendor/fonts/D-DIN-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "D-DIN";
  font-style: "normal";
  font-weight: "100";

  src: url("../vendor/fonts/D-DIN.ttf") format("truetype");
}

/* ! Reset */
body,
html {
  font-size: 16px;
  font-family: D-DIN, Arial, Verdana, sans-serif !important;
  font-weight: lighter !important;
  font-style: normal !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

img {
  height: auto;
}

a {
  text-decoration: none !important;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}

/* ! Container / Section System */

.container-api {
  padding: 0 !important;
  margin: 0 !important;
}

.nasa-jpl {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.nasa-jpl-table {
  max-width: 90% !important;
  margin: 0 auto !important;
  font-size: 15px !important;
}

.gmaps {
  padding-top: 50px !important;
  padding-bottom: 80px !important;
}

#map {
  max-width: 80% !important;
  max-height: 80% !important;
  margin: 0 auto !important;
}

/* ! Title System */
.text-0 {
  font-size: 4rem;
  line-height: 1;
}

h1,
.text-1 {
  font-size: 3.4rem;
  font-size: 48px;
  font-family: "D-DIN-Bold", Arial, Verdana, sans-serif !important;
  /* font-family: 'BankGothic Lt BT', sans-serif; */
  text-transform: uppercase;
}

h2,
.text-2 {
  font-size: 2rem;
  line-height: 1 !important;
  font-family: "D-DIN-Bold", Arial, Verdana, sans-serif !important;
  text-transform: uppercase;

  /* font-weight: bold !important; */
}

h3,
.text-3 {
  font-size: 1.5rem;
}

h4,
p,
.text-4 {
  font-size: 1.3rem;
}

.text-5 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .text-0 {
    font-size: 3rem !important;
  }

  .sma-text-2 {
    font-size: 2.1rem !important;
  }

  .sma-text-3 {
    font-size: 1.5rem !important;
  }

  .sma-text-4 {
    font-size: 1rem !important;
  }

  .sma-text-5 {
    font-size: 0.6rem !important;
    padding-top: 15px !important;
  }

  .sma-text-left {
    text-align: left !important;
  }
}

/* ! Button system */
.button {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #faff00;
  color: #000;
  padding: 14px 35px;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #faff00 !important;
  width: 300px;
}

.button:hover {
  background: rgba(0, 0, 0, 0.5) !important;
  /* background: #FAFF00; */
  border: 2px solid white !important;
  color: white !important;
}

.button--small {
  padding: 10px 20px;
  font-size: 1rem;
}

.button--round {
  background: #fff;
  color: #000;
  padding: 15px 30px;
  border-radius: 100px;
  font-weight: bold;
}

.button--round:hover {
  background: #000;
  color: #fff;
}

.button--round-outline {
  background: transparent;
  color: #fff;
  padding: 15px 30px;
  border-radius: 100px;
  font-weight: bold;
  border: 1px solid #fff;
}

.button--round-outline:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .button {
    width: 240px;
  }
}

/* ! Animation */
/* --------------------------------------------------------- */

.fade-in {
  opacity: 0;
  transform: translateY(2rem);
}

.fade-up {
  opacity: 0;
  transform: translateY(5rem);
}

.text-reveal {
  transform: translateY(1rem);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

/* ! Header */
.header {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 0 20px;
}

.header a {
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 15px;
  text-transform: uppercase;
}

.header a:hover {
  color: #faff00;
  display: block;
  padding: 15px;
}

.header__menu {
  margin-bottom: 0;
}

.header__menu li {
  display: inline-block;
}

.header__logo {
  font-weight: bold !important;
  color: #faff00 !important;
  font-style: italic !important;
  font-size: 20px !important;
  /* text-decoration: line-through!important; */
}

.header__logo span {
  font-weight: normal !important;
  color: #fff !important;
  /* font-style: italic!important; */
  text-decoration: line-through !important;
  position: absolute;
  top: 10px;
  left: 90px;
}

.header__hamburger {
  display: none;
}

@media (max-width: 768px) {
  .container-blog section h2 {
    font-size: 30px;
  }

  .header__hamburger {
    display: block;
    width: 40px;
    height: 35px;
    margin-top: 9px;
    margin-right: 4px;
  }

  .header__hamburger span {
    width: 33px;
    height: 2px;
    background: #fff;
    margin-top: 8px;
    display: block;
    transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .header__menu {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    /* background: #333; */
    background: rgba(0, 0, 0, 0.8);

    height: 0;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .header__menu li {
    display: block;
  }

  .menu-open .header__hamburger span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .menu-open .header__hamburger span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
  }

  .menu-open .header__menu {
    height: 100vh;
  }

  .menu-open {
    overflow: hidden;
  }
}

/* ! Cover */
.cover {
  /* background: #000; */
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
}

.cover__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/cover.jpg) center center;
  background-size: cover;
  border: 1px solid #000;
  z-index: 0;
}

.cover__bg:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background-size: cover;
}

.cover__content {
  max-width: 970px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.web-hero {
  /* position: fixed !important;
  top: 250px !important;
  left: 250px !important; */
  z-index: 0;
}

@media (max-width: 768px) {
  .web-hero {
    position: fixed !important;
    top: 200px !important;
    left: 0px !important;
    margin-top: 0;
    padding: 20px;
    /* z-index: -1; */
  }
}

.cover__content-belt {
  max-width: 950px;
  height: 80vh;
  margin: 0 auto;
  position: relative;
}

/*  -----------------------------------------------------------------------------------------------
SCROLL VIDEO
  --------------------------------------------------------------------------------------------------- */

/* .video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;

} */

#container-video {
  height: 200vh;
}

/*  -----------------------------------------------------------------------------------------------
SCROLL VIDEO
  --------------------------------------------------------------------------------------------------- */

.cover__video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.cover--intro {
  overflow: hidden;
}

.cover--image {
  min-height: 600px;
  color: #fff;
  justify-content: flex-end;
  text-align: left;
}

.cover--image-center {
  min-height: 600px;
  color: #fff;
}

.cover--image .cover__content {
  max-width: 1250px;
  width: 100%;
}

.cover--image h1,
.cover--image h2 {
  font-size: 2.4rem;
}

.cover--image h3 {
  /* font-size: 1.4rem; */
  text-transform: uppercase;
  font-weight: normal;
}

/* ! CTA */
.cta-content {
  position: relative;
}

.cta-about {
  position: absolute;
  bottom: 110px;
  right: 130px;
}

.cta-about h3 {
  padding: 20px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

/* ! Tiles */

.tiles {
  min-height: 500px;
  border-radius: 30px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.tiles__label {
  padding: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.tiles__content {
  padding: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* ! card */
.card {
  background: #eee;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.card-contact {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  /* text-align:left!important; */
}

.card-header {
  padding: unset !important;
  margin-bottom: 0;
  background-color: unset !important;
  border-bottom: none !important;
}

/* ! Accordion */
.acc-title {
  cursor: pointer;
  background: #eee;
  padding: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

.acc-panel {
  max-height: 0;
  overflow: hidden;
  border: 2px solid #ddd;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.acc-panel p {
  padding: 20px;
}

.acc-panel--show {
  max-height: 800px;
}

/* ! Footer */
.footer {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 30px;
}

.footer--card {
  /* border: 1px solid gray; */
  border-radius: 10px;
  margin: 0 auto;
  background: black;
}

.footer--card h3 {
  color: #fff;
}

.footer ul {
  list-style-type: square;
  color: #fff;
}

.footer--card ul li a {
  color: #fff;
  line-height: 1.4 !important;
}

.footer--card ul li a:hover {
  color: gray;
}

.footer--card--api {
  margin-bottom: 2rem !important;
  padding: 2rem !important;
  padding-bottom: 3.1rem !important;
}

.footer--card--api h3 {
  margin-bottom: 1rem !important;
  font-weight: bold !important;
}

@media (max-width: 768px) {
  .footer--card {
    margin: 1.2rem !important;
  }

  .footer--card--api {
    margin: 1.2rem !important;
  }
}

/* ! Socket */
.socket {
  background: #000;
  padding-top: 15px;
  padding-bottom: 1px;
  margin: 0 auto;
  text-align: center;
}

.socket p {
  font-size: 12px !important;
  color: #faff00;
}

@media (max-width: 768px) {
  .socket p {
    font-size: 8px !important;
  }
}

/* ! Grid System */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
}

.grid-about {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
  /* border: 1px solid green; */
}

.grid--footer {
  width: 950px !important;
}

.grid--small {
  max-width: 900px;
}

.grid--center {
  justify-content: center;
}

.grid--full {
  max-width: 100%;
}

@media (max-width: 1170px) {
  .grid-about {
    /* border: 1px solid red; */
    display: block;
    max-width: 700px !important;
    margin: 0 auto !important;
  }

  .cta-about {
    right: 170px;
    bottom: 135px;
  }

  .grid-about .col-50 {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .grid-about {
    /* border: 1px solid red; */
    display: block;
    max-width: 500px !important;
    margin: 0 auto !important;
  }

  .cta-about {
    right: 30px;
    bottom: 60px;
  }
}

.v-center {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: left;
}

.v-between {
  justify-content: space-between;
}

.v-bottom {
  display: flex;
  justify-content: end;
  flex-flow: column;
  align-items: flex-start;
}

#belt {
  padding-top: 50px !important;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-30 {
  width: 30%;
}

.col-33 {
  width: 33.33%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.col-100 {
  width: 100%;
}

[class*="col-"] {
  padding: 20px;
}

.grid--full [class*="col-"],
.grid .grid [class*="col-"] {
  padding: 0;
}

@media (max-width: 768px) {
  .sma-reverse {
    flex-direction: column-reverse;
  }

  [class*="col-"] {
    width: 100% !important;
  }

  .sma-col- {
    padding: 0px 20px !important;
  }

  .col-md-6,
  .col-md-12 {
    padding: 10px !important;
  }

  .form-group {
    line-height: 2.2 !important;
  }

  .sma-33 {
    width: 33.33%;
  }

  .sma-50 {
    width: 50%;
  }

  .sma-25 {
    width: 25%;
  }

  .col-8 {
    flex: unset !important;
    max-width: 100% !important;
  }

  .offset-2 {
    margin-left: 0% !important;
  }
}

/* ! Helpers */

.alert-success {
  color: #000 !important;
  background-color: #faff00 !important;
  border-color: #fff !important;
}

.video-res {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-res video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.br {
  border: 1px solid red;
}

.bv {
  border: 1px solid greenyellow;
}

.img-res {
  width: 100%;
}

.bradius {
  border-radius: 10ch;
}

.bradius-video {
  border-radius: 40px;
}

.dark-layer {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: cover;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.sma-pt-2 {
  padding-top: 2rem;
}

.icon-small {
  width: 40px;
  padding: 8px;
}

.icon-white {
  filter: invert(1);
}

.bg-dark {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.bg-white {
  background: #fff;
  position: relative;
}

.bg-red {
  background: #ff0000;
}

.bg-lightgrey {
  background: lightgray;
}

.text-white {
  color: #fff;
}

.text-yellow {
  color: #faff00;
}

.text-black {
  color: #000 !important;
}

.font-normal {
  font-weight: 400;
}

.strong {
  font-weight: bold !important;
}

.font-cap {
  text-transform: capitalize !important;
}

.none {
  display: none;
}

.article {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

@media (max-width: 768px) {
  #map {
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 auto !important;
  }

  .sma-none {
    display: none;
  }

  .cover__content-belt {
    height: 100vh;
  }
}

@media (max-width: 500px) {
  .row {
    --bs-gutter-x: 0rem;
  }

  .nasa-jpl-table {
    max-width: 90% !important;
    text-align: center !important;
  }

  .cta-content {
    padding-top: 100px !important;
    margin: 0 auto !important;
  }

  .cta-about {
    position: absolute;
    right: 0 !important;
    bottom: 30px !important;
  }
}

@media (min-width: 768px) {
  .desktop-none {
    display: none;
  }
}

/* EOF */
